html{
	scroll-behavior: smooth;
	scroll-padding-top: 5.2rem; /*nav height*/
}
body{
	font-family: 'Dosis', sans-serif; 
	position: relative;
}
.scrollTop-btn{
	position: fixed;
	right: 2rem;
	bottom: 1rem;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 10px;
	z-index: 10000000;
	display: none;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 1.25rem;
}

.main-nav{
	min-height:  5.2rem;
}

body::before{
	content: "";
	display: block;
	height: 5.2rem;
}

nav{
	box-shadow: 0 -45px 80px 1px #000;
}

nav .container .navbar-nav .nav-item .nav-link{
	transition: all 200ms ease-in;
}

.teamwork{
	width: 28rem;
}
.video-content{
	min-height: 25rem;
	width: 25rem;
}
.list-icon{
	height: 4rem;
	width: 4rem;
	color: dodgerblue;
}
.list-icon:hover{

	background-color:dodgerblue;
}
.list-icon:hover .bi{
	color: white;
}
.text-list{
	list-style-type: none;
}
.about-continue{
	background-image: url("../images/building2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 2;
}
.about-continue .text-content{
	z-index: 3;
}

.about-continue .blur-background{
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background: radial-gradient(#e3fafc,#fff);
	opacity: .7;
	z-index: -1;
}

.about-continue-2 .container .row .col img{
	filter: grayscale();
	transition: all 200ms ease-in;
}

.about-continue-2 .container .row .col img:hover{
	filter: none;
	transform: scale(1.2);
}
.services,.teams,.news-letter,footer{
	background: #e3fafc;
}
.wrapper{
	background: red;
}

.services .container .row .col-4{
	transition: all 400ms ease-in;
	cursor: pointer;
}
.services .container .row .col-4:hover {
	transform: translateY(-10px);
}
.services .container .row .col-4:hover .wrapper .inner-text h5{
	color: skyblue;
}
.portfolio .container .options .opt{
	cursor: pointer;
}
.reviews{
	background: url("../images/reviews.jpg");
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;

}
.reviews .filter-back{
	background: #023f52;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: .7;
}

.member{
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	width: 80%;
}

.social-links{
	top: 11rem;
}


.icon-wrapper{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 300ms ease-in-out;
	opacity: 0;
	cursor: pointer;
}

.col-3:hover .icon-wrapper{
	transform: translateY(1rem);
	opacity: .88;
}

.gallery .container .gallery-images .col-3 .img-wrapper{
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.gallery .container .gallery-images .col-3 .img-wrapper img{
	transition: all 500ms ease-in-out;
	cursor: pointer;
}

.gallery .container .gallery-images .col-3 .img-wrapper:hover >img{
	transform: scale(1.15);
}


.communication{
	list-style-type: none;
}

.icon{
	padding: 1.15rem;
	height: 0.8rem;
	width: 0.8rem;
	border-radius: 50%;
	background: lightblue;
	display: flex;
	align-items: center;
	justify-content: center;
	color:dodgerblue;
	transition: all 400ms ease-in;
}

.icon:hover{
	background:dodgerblue;
	color: #fff;
}

.news-letter-email{
	width: 25rem;
}
.link-list{
	list-style-type: none;
}

.light-box-modal,
.light-box-modal-2{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	top: 0;
	left: 0;
	z-index: 10000000;
}
.light-box-modal{
	display: none;
}
.light-box-modal-2{
	display: none;
}
.light-box-modal .modal-images,
.light-box-modal-2 .modal-images-portfolio{
	text-align: center;
	width: 60%;
	height: 75%;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 5.5rem;
}

.light-box-modal .modal-images{
	display: none;
}
.light-box-modal-2 .modal-images-portfolio{
	display: none;
}

.light-box-modal .modal-images .slides,
.light-box-modal-2 .modal-images-portfolio .slides2{
	overflow: auto;
}

.light-box-modal .modal-images .side-img,
.light-box-modal .modal-images-portfolio .side-img{
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.light-box-modal .close-button,
.light-box-modal .prev-btn,
.light-box-modal .next-btn,
.light-box-modal-2 .close-button-2,
.light-box-modal-2 .prev-btn2,
.light-box-modal-2 .next-btn2{
	position: absolute;
	font-size: 3rem;
	color: #fff;
	cursor: pointer;
}

.light-box-modal .close-button,
.light-box-modal-2 .close-button-2{
	top: 1rem;
	right: 2rem;
}

.light-box-modal .prev-btn,
.light-box-modal .next-btn,
.light-box-modal-2 .prev-btn2,
.light-box-modal-2 .next-btn2{
	top: 45%;
}

.light-box-modal .prev-btn,
.light-box-modal-2 .prev-btn2{
	left: 5rem;
}

.light-box-modal .next-btn,
.light-box-modal-2 .next-btn2{
	right: 5rem;
}

.portfolio-wrapper{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.portfolio-wrapper:hover .portfolio-links{
	width: 100%;
	height: 100%;
	opacity: .8;
}

.portfolio-wrapper .portfolio-links{
	width: 70%;
	height: 70%;
	position: absolute;
	background-color: #fff;
	opacity: 0;
	display: flex;
	transition: all 600ms ease-in-out;
	align-items: center;
	justify-content: center;
} 

.portfolio-wrapper .portfolio-links::before{
	content: " ";
	display: block;
	border-top: 3px solid black;
	border-left: 3px solid black;
	position: absolute;
	top: 1rem;
	left: 1rem;
	height: 2rem;
	width: 2rem;
	z-index: 100;
}
.portfolio-wrapper .portfolio-links::after{
	content: " ";
	display: block;
	border-bottom: 3px solid black;
	border-right: 3px solid black;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	height: 2rem;
	width: 2rem;
	z-index: 100;
}

.portfolio-wrapper .portfolio-links .modalView{
	color: skyblue;
	cursor: pointer;
}

