html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Dosis', sans-serif; 
}
body::before{
	content: "";
	display: block;
	height: 5.2rem;
}

nav{
	box-shadow: 0 1px 35px lightgray;
}

.teamwork{
	width: 28rem;
}
.video-content{
	min-height: 25rem;
	width: 25rem;
}
.list-icon{
	height: 4rem;
	width: 4rem;
}
.text-list{
	list-style-type: none;
}
.about-continue{
	background-image: url("../images/building2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 2;
}
.about-continue .text-content{
	z-index: 3;
}

.about-continue .blur-background{
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background: radial-gradient(#e3fafc,#fff);
	opacity: .7;
	z-index: -1;
}

.about-continue-2 .container .row .col img{
	filter: grayscale();
	transition: all 200ms ease-in;
}

.about-continue-2 .container .row .col img:hover{
	filter: none;
	transform: scale(1.2);
}
.services,.teams{
	background: #e3fafc;
}
.wrapper{
	background: red;
}

.services .container .row .col-4{
	transition: all 400ms ease-in;
	cursor: pointer;
}
.services .container .row .col-4:hover {
	transform: translateY(-10px);
}
.services .container .row .col-4:hover .wrapper .inner-text h5{
	color: skyblue;
}
.portfolio .container .options .opt{
	cursor: pointer;
}
.reviews{
	background: url("../images/reviews.jpg");
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;

}
.reviews .filter-back{
	background: #023f52;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: .7;
}

.member{
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	width: 80%;
}

.social-links{
	top: 11rem;
}


.icon-wrapper{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 300ms ease-in-out;
	opacity: 0;
	cursor: pointer;
}

.col-3:hover .icon-wrapper{
	transform: translateY(1rem);
	opacity: 1;
}

.gallery .container .gallery-images .col-3 .img-wrapper{
	pointer: cursor;
	position: relative;
	overflow: hidden;
}

.gallery .container .gallery-images .col-3 .img-wrapper img{
	transition: all 500ms ease-in-out;
	cursor: pointer;
}

.gallery .container .gallery-images .col-3 .img-wrapper:hover >img{
	transform: scale(1.15);
}
.icon{
	height: 2rem;
	width: 2rem;
}

.communication{
	list-style-type: none;
}

.communication .communicate-data{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.communication .communicate-data .icon{
	padding: 1.5rem;
	height: 0.8rem;
	width: 0.8rem;
	border-radius: 50%;
	background: lightblue;
	display: flex;
	align-items: center;
	justify-content: center;
}